<!doctype html>
<html lang="en" ng-app>
<head>
<meta charset="UTF-8">
<title>redditDart - Home</title>
<link rel="stylesheet" type="text/css" href="css/styles.css"/>
</head>
<body class="ng-cloak">
   <div class="bg">
    <div id="container">
    <header>
      <a href="#" id="logo"><img src="http://siliconangle.com/files/2011/10/dart-logo.png" alt="logo"/></a>
  	   <nav>
         <ul>
         <li><a href="#" class="current">Home</a></li>
         </ul>
      </nav>
	</header>
   <section id="intro">
      <hgroup>
      <h1>"Reddit implemented in Angular Dart"</h1>
      <h2>implementation in dart of reddit using angular dart</h2>
      </hgroup>
   </section>
   
 
   <!--start using the post controller-->
   <div post>f
     <new-post-component post-controller="postController">
     </new-post-component>
     <hr />
     <input type="button" ng-click="postController.addSample()" type="submit" value="add sample">
     <div class="holder_content" ng-if="postController.selectedPost == null">
        <section class="group1" ng-repeat="post in postController.posts">
        <span class="postInfo">
           <h3 id="postHeader">{{post.title}} - score: {{post.score}}</h3>
           <p> {{post.description}}</p>
        </span> 
        <span class="postVote">
          <div class="voting">
              <div class="upvote" ng-click="postController.voteUp(post)">up</div>
              <div class="downvote" ng-click="postController.voteDown(post)">down</div>
          </div>
        </span>
          <a class="photo_hover3" ng-click="postController.selectedPost = post">
            <img src="{{post.imageUrl}}" width="240" height="214" alt="{{post.title}}"/>
          </a>
        </section>
  	</div>
    <div class="detail" ng-if="postController.selectedPost != null">
      <h3 >{{postController.selectedPost.title}}</h3>
       <p>{{postController.selectedPost.description}}</p>
       <img src="{{postController.selectedPost.imageUrl}}" alt="{{postController.selectedPost.title}}"/>
       <br />
       <a ng-click="postController.selectedPost = null"> go back </a>
    </div>
    </div>
   </div>
   <footer />
   </div>
     <script type="application/dart" src="main.dart"></script>
    <!-- for this next line to work, your pubspec.yaml file must have a dependency on 'browser' -->
    <script src="packages/browser/dart.js"></script>
  </body>
</html>
